.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
	width: 100%;
	background-color: #1ABD9B;
	padding: 20px;
}

.quiz-window {
	width: 800px;
	min-height: 450px;
	background-color: #EBF1EF;
	border-radius: 10px;
	padding: 25px;
	@media only screen and (max-width : 992px) {
		width: 100%;
  }
	.question {
		text-align: center;
		color: #344A5C;
		font-size: 20px;
	}
	h3 {
		color: #344A5C;
	}
	.buttons-wrapper {
		text-align: center;
		.answer-btn {
			width: 35%;
			padding: 20px;
			margin: 30px 55px;
			background-color: #1ABD9B;
			border: 3px solid #1ABD9B;
			border-radius: 10px;
			font-size: 20px;
			font-weight: 700;
			box-shadow: none;
			outline: 0;
			&:hover, &focus {
				outline: 0;
				box-shadow: none;
				background-color: #EBF1EF;
			}
			@media only screen and (max-width : 992px) {
				width: 100%;
				margin: 5px 0;
		  }
		}
	}
}
